<router-outlet />
<!-- ############################ Selector ################################### -->
<!-- selector cannot duplicate, only rendered once when compiled, case sensitive-->

<!-- Selector Type -->
<!-- <selector></selector>
<Selector></Selector> -->

<!-- Selector Class -->
<!-- <div class="btn-custom"></div> -->

<!-- Selector Attributes -->
<!-- <div custom-attr></div> -->

<!-- ################################# Styling ############################### -->
<!-- <normal-image />
<global-image /> -->

<!-- <encapsulated-component>
  <h2>Ini isi dari hallo</h2>
</encapsulated-component> -->

<!-- ################################# Input #################################-->
<!-- <progress-order [orderPercentage]="100" [settingRahasia]="'Capung'"/> -->

<!-- ###################### Custom event with output ######################### -->
<!-- <parent-sidebar /> -->

<!-- ###################### Output Function ################################## -->
<!-- <parent-comp /> -->
<!-- <parent-comp-2 /> -->

<!-- ############################ Content Projection ####################### -->
 <custom-card >
  <div class="card-title">
    <h1>Card Custom</h1>
  </div>
  <h3 ngProjectAs=".card-body">Aliasing content projection</h3>
  <div class="card-body">
    <h4>This is body of card</h4>
  </div>
</custom-card>
